.ms-nav-header {
    background: cornflowerblue;
    line-height: 4.5;
}

.ms-nav-header-brand {
    text-align: left;
    color: white;
    padding-right: 10px
}

.ms-nav-header-brand-text {
    line-height: 2.5;
    text-align: center;
}

.ms-nav-header-checkout-btn {
    line-height: 2.5;
    text-align: right;
}